@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Fira Code';
  font-weight: 400;
  src: url('../fonts/Fira\ Code/FiraCode-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('../fonts/Inter/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('../fonts/Inter/Inter-Medium.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: url('../fonts/Inter/Inter-Bold.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  src: url('../fonts/Inter/Inter-Black.ttf');
}

body {
  @apply font-sans accent-primary text-primaryText;
}

a {
  @apply text-primary underline;
}